body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: sans-serif;
    /* background-color: #5D5C61; */
}

.heroImage{
    position: relative;
    height: 600px;
    overflow: hidden;
    background: url("../images/pexels-mateusz-dach-450035.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
    
}

.introText{
    margin-top: 270px;
    padding-right: 70px;
    padding-left: 50px;
    background-color: rgba(90, 89, 89, 0.555);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-thumbnail{
    margin-top: 30px;
    box-shadow: 10px 10px 5px grey;
  
}

.introduction{
    /* background-color: white; */
    margin-top: 15px;
    padding-left: 10px;
    padding: 30px;
    /* box-shadow: 10px 10px 5px grey; */
}

.navbar-brand{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}
.sampleProjectsSection{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.techTitle{
    color: white;
    margin-bottom: 30px;
}

.cardstyle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.techIKnowTitle{
    margin-bottom: 40px;
    text-align: center;
    
}

.tech{
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.techSectionTit{
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: rgba(85, 79, 79, 0.774); */
    background-color: #87a7b3;

}

#contactSection{
    background-color: rgba(0, 0, 0, 0.534);

}

.potrfolio-title{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card:hover .card-img-top
{
    opacity: 0.8;
   
}
.card:hover 
{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    /*box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);*/
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
   
}
.section-1
{
    padding-bottom: 2rem;
}

.workCard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutMeTitle{
    text-align: center;
}

.font{
    color: white;
}







