*{
  box-sizing: ;  
}

body{

}

.hero{
    background-image: url("../images/pexels-mockupeditorcom-205316.jpg");
    min-height: 600px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    width: 100%;
    
}

.projects{
    margin-top: 20px;
}

.navbar-brand{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.nav-item .nav-link{
    color: black;
}

.profilePicture{
    width: 220px;
    height: 300px;
}

.introduction{
    padding-left: 90px;
    padding-top: 40px;
    text-align: center;
}

.viewMyWorkBtn{
    margin-top: 20px;
}

.section-1{
    margin-top: 30px;
}

.sampleProjectsSection{
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar .navbar-expand-lg{

}